<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Facturador{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
</head>
<body>
    <header>
        <div><a href="/clients">Facturador</a></div>
        <div class="nav-links">
            <a href="/clients">Clientes</a>
            <a href="/invoices">Facturas</a>
            <a href="/company">Mi empresa</a>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
